.btn-login
	{
		font-weight: bold;
		background-color: #10635F;
		border: 1px solid #10635F;
		width: 50%;
		height: 50%;
		font-size: 5vh;
		margin: 2%;
	}

.btn-login:hover
	{
		background-color: #0c4946;
		border-color: #0c4946;
	}

.btn-login > span, .btn-register > span
	{
		color: #F7F7F7;
	}

.btn-register
	{
		font-weight: bold;
		background-color: rgba(16, 99, 95, 0.5);
		border: 1px solid rgba(16, 99, 95, 0.5);

	}

.btn-register:hover
	{
		background-color: #10635F;
		border: 1px solid #10635F;
	}

#flat-panel
	{
		border: 1px solid #1BA39C;
		background-color: #FEFEFE;
	}

#flat-panel > .panel-heading
	{
		color: white;
		font-weight: bold;
		border: transparent;
		background-color: #1BA39C;
	}

#btn-link
	{
		color: #1BA39C;
	}

#flat-btn
	{
		border: 1px solid #1BA39C;
	}

#flat-btn:hover
	{
		background-color: #1BA39C;
		border: 1px solid #1BA39C;
	}

#flat-btn > span
	{
		color: #1BA39C;
		font-weight: bold;
	}

#flat-btn:hover > span
	{
		color: white;
	}

#feed-panel
	{
		border-radius: 0;
		border: transparent;
		width: 99.8%;
	}